.*.swp
*.lst
*.lss
*.bin
*.hex

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eagle temporary files ignores
*.l\#?
*.s\#?
*.b\#?

